/* COLOR SCHEME: https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/theming-designer/
 * COLORS:
 * - Primary Color: #cf8f19
 * - Text Color: #ffffff
 * - Background Color: #240809
 */

@font-face {
	font-family: "Bitter";
	src:
		local: ("Bitter"),
		url("../fonts/Bitter/Bitter-VariableFont_wght.ttf"),
		url("https://github.com/solmatas/BitterPro/raw/refs/heads/master/fonts/variable/Bitter[wght].ttf");
}

body {
	background-color: #240809;
	color: #ffffff;
	/* primary-color: #b89000; for pop-out items, like buttons*/
	font-family: Bitter, Georgia, serif;
}

/* Navigation bar styling I don't want to do right now */
/*
nav ul {
	display: flex;
	flex-direction: row;
}
*/

.symbol-copyleft { /* How to type in HTML: "&copy;" */
	display:inline-block;
	transform: rotate(180deg);
}

#caption-i-am {
	color: #cf8f19;
	font-size: 2em;
}
