body {
    background-color: rgb(90, 30, 30);
    color: white;
    margin: 0;
    padding: 0;
}

main {
    background-color: #00000065;
}

nav > ul:first-child {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

section.index-hero {
	height: 16rem;
	background-image: url(../images/20241225-code-site-wolfdaemon-images-hero.jpg);
	background-position: right;
	max-width: 100%;
}

.mobile-menu {
	display: none;
}

.mobile-menu ul li {
	display: block;
}
